body { 
  background: url("https://picsum.photos/1920/1080/?random") no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
h5 {
	top: 5em;
}

h1 {
	font-family: 'Great Vibes', cursive;
	text-decoration: underline;
	text-align: center;
}

ul {
	display: inline;
}

label {
	color: white;
}

.container {
	margin-top: 5em;
}

.priceInput {
	font-weight: bold;
}

.blackText {
	color: black;
}

.center {
    text-align: center;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.main {
	opacity: .90;
}

img {
	opacity: 1;
}

#nav {
	margin-bottom: 2em;
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	transition: 0.5s all ease-in-out;
	z-index: 99999;
}

#footerBreak {
	border-width: 2px;
	border-color: #007bff;
}



}
#itemPageImg {
	padding: 1em;
}

.titleCard {
	margin-top: .5em;
	display: inline-block;
    background-color: white;
    margin: 0 auto;
    text-align: center;
    padding: .2em;
    border-radius: 15px;
}